.front {
  .page-title {
    display: none;
    visibility: hidden;
  }
}

.contact-box {
  background-color: #E5F2FA;
  float: right;
  width: 32.3333%;
  margin-left: 10px;
  min-height: 296px;
  box-sizing: border-box;
  padding:2.5% 0% 2.5% 2.5%;
  background-image: url("../images/clouds.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 396px;
}

@media screen and (max-width:1020px) and (min-width:801px) {
  .contact-box {
    width: 32%;
  }
}

@media screen and (max-width:800px) {
  .contact-box{
    width:100%;
    min-height: 300px;
    ul {
      top: 3px;
    }
  }
}

.front-page-video {
  display: inline-block;
}
