.region-header {

  @include breakpoint($desktop) {
    bottom: 0;
    position: absolute;
    right: 0;
    right: percentage(1 / 3);
  }
}

header[role="banner"] > div {
  width: 100%;
}

.site-header {
  $zen-column-count: 3;
  @include zen-grid-container();

  position: relative;

  @include breakpoint($desktop) {
    height: 200px;
    overflow: hidden;
    width: 100%;
  }

  > a {
    height: auto;
    width: auto;
  }

  .site-banner {
    @include breakpoint($desktop) {
      @include zen-grid-item(2, 1);

      a {
        display: block;
      }

      img {
        width: auto;
      }
    }
  }

  .site-banner,
  .site-banner a,
  .site-banner img {
    @include breakpoint($desktop) {
      height: 100%;
    }
  }

  .site-name {
    background-position: left top;
    height: 128px;

    @include breakpoint($desktop) {
      height: 140px;
      padding-bottom: 0;
      position: static;
    }
  }

  .site-slogan {
    @include zen-clear(right);
    background-position: left top;
    height: 37px;
    padding: 0 .75em;
    padding-bottom: .75em;

    @include breakpoint($desktop) {
      height: auto;
    }
  }

  .site-name,
  .site-slogan {
    @include breakpoint($desktop) {
      @include zen-grid-item(1, 1, right);
      border-left-width: 10px;
      box-sizing: border-box;
      padding: 20px 2.5%;
    }
  }
}
