.main-nav {
  .menu .menu {
    .menu__item {
      .menu__link {
        @include breakpoint($desktop) {
          background-color: #efefef;
          border-bottom-style: solid;
          border-bottom-color: #dedede;
          color: $wwu-blue;
        }
      }

      .menu__link:hover,
      .menu__iink:focus {
        @include breakpoint($desktop) {
          background-color: $wwu-blue;
          color: #fff;
        }
      }
    }
  }
}


.main-nav div div .menu li:last-child {
  background-color: $red;
  a{
    color: white;
  }
}
