
@import "modules/_color.scss";

.contact-box ul li.leaf{
  list-style-image: none;
  list-style-type: none;
  height: 70px;
  a {
    color: $blue;
    font-size: 19.2px;
    &:hover{
      color: $blue;
    }
  }
}

li.location:before {
  content: url("../images/location-icon.png");
  padding-right: 10px;
  position: relative;
  top: 13px;
}
li.hours:before {
  content: url("../images/clock-icon.png");
  padding-right: 10px;
  position: relative;
  top: 13px;
}
li.faq:before {
  content: url("../images/faq-icon.png");
  padding-right: 10px;
  position: relative;
  top: 13px;
}
li.make-appointment:before {
  content: url("../images/calendar-icon.png");
  padding-right: 10px;
  position: relative;
  top: 13px;
}
li.feedback-form:before {
  content: url("../images/feedback-icon.png");
  padding-right: 10px;
  position: relative;
  top: 13px;
}
li.provider-database:before {
  content: url("../images/provider-database-icon.png");
  padding-right: 10px;
  position: relative;
  top: 13px;
}
li.provider-database:hover::before {
  content: url("../images/provider-database-icon-hover.png");
}
li.make-appointment:hover::before {
  content: url("../images/calendar-icon-hover.png");
}
li.feedback-form:hover::before {
  content: url("../images/feedback-icon-hover.png");
}
li.faq:hover::before {
  content: url("../images/faq-icon-hover.png");
}
li.hours:hover::before {
  content: url("../images/clock-icon-hover.png");
}
li.location:hover::before {
  content: url("../images/location-icon-hover.png");
}

@media screen and (max-width:961px) {
  .contact-box {
    padding-left: 0;
  }
}
@media screen and (max-width:890px) and (min-width: 801px) {
  menu, ol, ul, .item-list ul{
    padding-left: 15px;
  }
  .contact-box ul li.leaf a {
    font-size: 17px;
  }
}

// @media screen and (min-width:1072px) {
//   .contact-box {
//     min-height: 394px;
//   }
// }
