.main-nav .menu .emergency-services {
  background-color: $wwu-red;
  transition: none;

  .menu__item {
    overflow: hidden;
  }

  .menu__link {
    background-image: url('../images/Icon-Phone.svg');
    background-origin: border-box;
    background-position: 1em 50%;
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 3em;
    position: relative;
    transition: none;
    z-index: 0;

    @include breakpoint($desktop) {
      background-position: 50%;
      left: -12.5em;
      margin-right: -13em;
      padding-left: 14em;
    }
  }

  .menu__link:hover {
    background-image: url('../images/hover/Icon-Phone.svg');
  }

}
