.front-page-video {
  margin-bottom: 1em;
  padding: 0;

  position: relative;
  width: 66.66667%;
  height: 66.66667%;
  min-height: 396px;

  iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 0%;
    margin-right: -66.66667%;
    min-height:396 px;
  }
}

@media screen and (max-width: 800px) {
  .front-page-video  {
    width: 100%;
    height: 100%;

  }
}
