.pane-menu-menu-front-page-pathways {
  $zen-gutter-width: 1em;
  @include zen-grid-container();
  @include clearfix;

  .menu {
    list-style: none;
    padding: 0;
  }

  .menu__item {
    $zen-column-count: 1;
    @include zen-clear(left);
    @include zen-grid-item-base();
    @include zen-grid-item(1, 1);

    @include breakpoint($larger-tablet) {
      $zen-column-count: 2;
      @include zen-grid-item(1, 1);
    }

    background-clip: content-box;
    background-color: #666;
    background-origin: content-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    list-style: none;
    margin-bottom: 1em;
  }

  .menu__item:hover,
  .menu__item:focus {
    background-blend-mode: screen;
  }

  .menu__item:nth-child(2),
  .menu__item:last-child {
    @include breakpoint($larger-tablet) {
      @include zen-clear(none);
      @include zen-grid-item(1, 2);
    }
  }

  .menu__item:nth-child(odd) .menu__link {
    background-image: url('../images/Background-Pathway-Heading.png');
  }

  .menu__item:nth-child(even) .menu__link {
    background-image: url('../images/Background-Pathway-Heading-Dark.png');
  }

  @include breakpoint($larger-tablet) {
    .menu__item:nth-child(1),
    .menu__item:nth-child(4) {
      .menu__link {
        background-image: url('../images/Background-Pathway-Heading.png');
      }
    }

    .menu__item:nth-child(2),
    .menu__item:nth-child(3) {
      .menu__link {
        background-image: url('../images/Background-Pathway-Heading-Dark.png');
      }
    }
  }

  .students {
    background-image: url('../images/students.jpg');
  }

  .faculty-staff {
    background-image: url('../images/faculty-staff.jpg');
  }

  .parents-family {
    background-image: url('../images/parents-family.jpg');
  }

  .prospective-trainees {
    background-image: url('../images/prospective-trainees.jpg');
  }

  .menu__link {
    background-color: transparent;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    color: #fff;
    display: block;
    margin: 0;
    padding: 1em;
    padding-top: 41.6%;
    text-shadow: 0 0 5px $wwu-blue;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint($larger-tablet) {
      font-size: 95%;
    }

    @include breakpoint($larger-tablet + 110) {
      font-size: 120%;
    }
  }

  .menu__link:hover {
    text-decoration: none;
  }
}
