.make-an-appointment-link {
  padding: 2em;
  text-align: center;

  a {
    background-color: $wwu-lime;
    border: 3px solid #ddd;
    border-radius: 4em;
    color: $wwu-blue;
    display: inline-block;
    font-size: 120%;
    line-height: 2.5em;
    margin: 0 auto;
    padding: .75em 2em;
    text-align: left;

    &::before {
      background-image: url('../images/Icon-Appointment.svg');
      background-position: left top;
      background-repeat: no-repeat;
      content: ' ';
      display: inline-block;
      float: left;
      height: 2.5em;
      margin-right: 1em;
      width: 2.5em;
    }

    &::after {
      background-image: url('../images/hover/Icon-Appointment.svg');
      content: ' ';
      opacity: 0;
      position: absolute;
    }

    &:hover,
    &:focus {
      background-color: $wwu-blue;
      color: #fff;
      text-decoration: none;

      &::before {
        background-image: url('../images/hover/Icon-Appointment.svg');
      }
    }

    &:active {
      background-color: $wwu-light-blue;
    }
  }

}
