.view-self-help-apps {

  .view-content {
    @include zen-grid-container();
  }

  .views-row:nth-child(4n+1) {
    @include breakpoint($desktop) {
      @include zen-clear(left);
    }
  }

  .views-row {
    padding-bottom: 1em;
    text-align: center;

    @include breakpoint($desktop) {
      @include zen-grid-flow-item(1, 4, false, false);
      @include zen-float(left);
    }
  }

  img {
    margin-bottom: 1em;
  }

  h3 {
    font-size: 110%;
    margin-top: 0;
  }

}
