#block-menu-menu-social-header-links {
  $menu-link-size: 64px;
  background-color: $wwu-blue;
  margin: 0;
  padding: 1em;

  @include breakpoint($desktop) {
    background-color: transparent;
    padding: 0;
  }

  .menu,
  .menu__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu {
    @include clearfix;

    display: table;
    margin: 0 auto;

    @include breakpoint($desktop) {
      margin: 0;
      margin-bottom: 1em;
      margin-right: .5em;
    }
  }

  .menu__item {
    float: left;
    padding: 0 .5em;
  }

  .menu__link {
    background-origin: content-box;
    background-size: 100%;
    border-radius: 50%;
    display: block;
    height: $menu-link-size;
    width: $menu-link-size;

    &::after {
      opacity: 0;
      position: absolute;
    }
  }

  .make-a-donation .menu__link {
    @include replace-text('Icon-Gift.svg');

    &:hover,
    &::after {
      @include replace-text('hover/Icon-Gift.svg');
    }
  }

  .youtube .menu__link {
    @include replace-text('Icon-YouTube.svg');

    &:hover,
    &::after {
      @include replace-text('hover/Icon-YouTube.svg');
    }
  }

  .facebook .menu__link {
    @include replace-text('Icon-Facebook.svg');

    &:hover,
    &::after {
      @include replace-text('hover/Icon-Facebook.svg');
    }
  }

}
